#include <windows.h>
#include <ntverp.h>

#define NOW_COMPILING_RC // "filter.h" will check this macro to get rid of unnecessary #includes .
#include "filter.h"


#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Filter Driver for the Toaster Stack"
#define VER_INTERNALNAME_STR        DRIVERNAME 
#define VER_ORIGINALFILENAME_STR    DRIVERNAME // DRIVERNAME defined in "filter.h"

#include "common.ver"


